<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizza Shop</title>
</head>
<body>
    <header>
        
            <h1>
                <a href="les pizzas">Nos Pizzas</a>
            </h1>
            <nav>
                <ul>
                    <li>
                        <a href="pizza 1">Pizzas N°1</a>
                    </li>
                    <li>
                        <a href="pizza2">Pizzas N°2</a>
                    </li>
                    <li>
                        <a href="Pizza3">Pizzas N°3</a>
                    </li>
                </ul>
            </nav>
        
    </header>
    <div>
        <h1>
            La liste des Pizzas
        </h1>
        <p>
            Les ingrédients
        </p>
        
    </div>

    <footer id="main-footer" class="bg-dark">
        <div class="container">
            <div class="row py-4">
                <div class="col-12 text-right">
                    <nav class="nav justify-content-end">
                        <a href="Pizza Shop" class="btn btn-success">Suite <i class="bi bi-arrow-right ps-1"></i></a>
                    </nav>
                </div>
                
            </div>
        </div>
    </footer>
</body>
</html>